@using MyFinalProject.ViewModels;
@model ResetPasswordViewModel
@{
    ViewBag.Title = "Forgot Password";
}

<h1 class="display-4">Reset Password</h1>

<div class="box-shadow form-base container" style="height: auto;">
    <form method="post" asp-action="ForgotPassword" asp-controller="Users">
        <div class="form-group">
            <label>Email Address</label>
            <input class="form-control" type="email" name="emailAddress" />
        </div>
        <div style="text-align: center;">
            <input class="form-control btn-outline-primary" type="submit" value="Continue" />
        </div>
    </form>
</div>

@if (ViewBag.message != null)
{
    <small class="text-danger">@ViewBag.message</small>
}

