<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/691f899f-b614-4a80-9ccd-44ae7666096f/resourceGroups/ekrembel/providers/Microsoft.Web/sites/Coin-TheVirtualStockMarket</ResourceId>
    <ResourceGroup>ekrembel</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://coin-thevirtualstockmarket.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>coin-thevirtualstockmarket.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Coin-TheVirtualStockMarket</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Coin-TheVirtualStockMarket</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>